<!--<form id="frm_detail">
              <table width="100%" border="0" class="table">
                <tr>
                  <td width="18%">NO. BPKB</td>
                  <td width="30%">: <SPAN ID="NO_BPKB"></SPAN> </td>
                  <td width="24%">TANGGAL DAFTAR</td>
                  <td width="28%">: <SPAN ID="DAFT_DATE"></SPAN></td>
                </tr>
                <tr>
                  <td>NO. RANGKA</td>
                  <td>: <SPAN ID="NO_RANGKA"></SPAN></td>
                  <td>TANGGAL VERIFIKASI</td>
                  <td>: <SPAN ID="VERIFIKASI_DATE"></SPAN></td>
                </tr>
                <tr>
                  <td>NO. MESIN</td>
                  <td>: <SPAN ID="NO_MESIN"></SPAN></td>
                  <td>KET. VERIFIKASI</td>
                  <td>: <SPAN ID="VERIFIKASI_KET"></SPAN></td>
                </tr>
                <tr>
                  <td>NAMA PEMILIK</td>
                  <td>: <SPAN ID="NAMA_PEMILIK"></SPAN></td>
                  <td>TGL. VERIFIKASI LEVEL 2</td>
                  <td>: <SPAN ID="DAFT_LEVEL2_DATE"></SPAN></td>
                </tr>
                <tr>
                  <td>ALAMAT PEMILIK</td>
                  <td>: <SPAN ID="ALAMAT_PEMILIK"></SPAN></td>
                  <td>TGL. VERIFIKASI LEVEL 3</td>
                  <td>: <SPAN ID="DAFT_LEVEL3_DATE"></SPAN></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>TGL.BLOKIR</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
              </form>-->